# Pandas toturial (Day11)
This notbook explaisn ............

Install libraires

In [10]:
# pip install pandas
# pip install numpy

- import libraires

In [11]:
import pandas as pd 
import numpy as np

In [12]:
# Ojecet creation 
s= pd.Series([7,45,23,np.nan,54,12])
s

0     7.0
1    45.0
2    23.0
3     NaN
4    54.0
5    12.0
dtype: float64

In [13]:
 dates=pd.date_range("2022/01/10",periods=20,)
 dates

DatetimeIndex(['2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17',
               '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21',
               '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
               '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df=pd.DataFrame(np.random.randn(20,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481
2022-01-20 -1.709128  3.462722 -0.098398  1.613701
2022-01-21 -0.658487  1.302285  0.606975 -0.311575
2022-01-22 -0.572135  1.383644 -0.135267  0.290159
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386
2022-01-24  0.702030  2.003458 -0.347143  2.617915
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-26 -1.048705  1.272295  0.796285  0.153570
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061

In [15]:
# # import pandas library
# import pandas as pd
  
# # dictionary with list object in values
# details = {
#     'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
#     'Age' : [23, 21, 22, 21],
#     'University' : ['BHU', 'JNU', 'DU', 'BHU'],
# }
  
# # creating a Dataframe object 
# df = pd.DataFrame(details)
  
# df

In [16]:
 df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [17]:
df.head(3)

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644

In [18]:
df.tail(2)

                   A         B         C         D
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061

In [19]:
df.index

DatetimeIndex(['2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17',
               '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21',
               '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
               '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.to_numpy()

array([[-1.47860137, -0.01559712, -0.73402317,  2.09965768],
       [ 0.0944942 , -2.48317478,  0.22954636,  0.22541102],
       [-0.50362366, -0.84651396,  1.42264802, -0.23464377],
       [ 0.81045356,  0.25683244,  0.64037903, -0.47814691],
       [ 1.22460866,  0.18800185,  0.28610428,  0.19744132],
       [ 0.43981086, -1.39448653, -0.00813931,  0.82504797],
       [-1.00450541, -0.058619  , -0.48302098, -0.78675429],
       [-1.71703385, -0.84888975, -0.69643511, -0.48187872],
       [ 0.45704684, -1.48938684,  0.77332856, -0.6664376 ],
       [-0.41379789, -0.65124026,  0.68746487, -0.62848148],
       [-1.70912817,  3.46272176, -0.09839751,  1.61370057],
       [-0.65848685,  1.30228469,  0.60697485, -0.31157505],
       [-0.57213544,  1.38364383, -0.13526688,  0.29015859],
       [-0.03571685, -1.26111027,  0.58927751, -0.79838602],
       [ 0.70203016,  2.00345782, -0.34714266,  2.61791485],
       [ 0.33062755,  0.37801337,  0.69411207,  0.17182078],
       [-1.04870478,  1.27229455,  0.79628466,  0.15356963],
       [ 0.22332111,  0.45297952,  0.39686   ,  1.02708   ],
       [ 0.75920022,  0.48128611, -1.31806268, -1.76910252],
       [ 0.92202109, -0.79277729, -0.96399296, -0.70006101]])

In [21]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   -0.158906   0.066986   0.116925   0.118317
std     0.903000   1.381030   0.704387   1.073045
min    -1.717034  -2.483175  -1.318063  -1.769103
25%    -0.744991  -0.847108  -0.381112  -0.637971
50%     0.029389   0.086202   0.257825  -0.040537
75%     0.518293   0.679038   0.652150   0.423881
max     1.224609   3.462722   1.422648   2.617915

# transpose of data set

In [22]:
df.T

,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14,2022-01-15,2022-01-16,2022-01-17,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27,2022-01-28,2022-01-29
A,-1.478601,0.094494,-0.503624,0.810454,1.224609,0.439811,-1.004505,-1.717034,0.457047,-0.413798,-1.709128,-0.658487,-0.572135,-0.035717,0.702030,0.330628,-1.048705,0.223321,0.759200,0.922021
B,-0.015597,-2.483175,-0.846514,0.256832,0.188002,-1.394487,-0.058619,-0.848890,-1.489387,-0.651240,3.462722,1.302285,1.383644,-1.261110,2.003458,0.378013,1.272295,0.452980,0.481286,-0.792777
C,-0.734023,0.229546,1.422648,0.640379,0.286104,-0.008139,-0.483021,-0.696435,0.773329,0.687465,-0.098398,0.606975,-0.135267,0.589278,-0.347143,0.694112,0.796285,0.396860,-1.318063,-0.963993
D,2.099658,0.225411,-0.234644,-0.478147,0.197441,0.825048,-0.786754,-0.481879,-0.666438,-0.628481,1.613701,-0.311575,0.290159,-0.798386,2.617915,0.171821,0.153570,1.027080,-1.769103,-0.700061

In [23]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481
2022-01-20 -1.709128  3.462722 -0.098398  1.613701
2022-01-21 -0.658487  1.302285  0.606975 -0.311575
2022-01-22 -0.572135  1.383644 -0.135267  0.290159
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386
2022-01-24  0.702030  2.003458 -0.347143  2.617915
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-26 -1.048705  1.272295  0.796285  0.153570
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061

In [24]:
df.sort_values(by="B",ascending=False)

                   A         B         C         D
2022-01-20 -1.709128  3.462722 -0.098398  1.613701
2022-01-24  0.702030  2.003458 -0.347143  2.617915
2022-01-22 -0.572135  1.383644 -0.135267  0.290159
2022-01-21 -0.658487  1.302285  0.606975 -0.311575
2022-01-26 -1.048705  1.272295  0.796285  0.153570
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-11  0.094494 -2.483175  0.229546  0.225411

# Selecting a column

In [25]:
df["B"]

2022-01-10   -0.015597
2022-01-11   -2.483175
2022-01-12   -0.846514
2022-01-13    0.256832
2022-01-14    0.188002
2022-01-15   -1.394487
2022-01-16   -0.058619
2022-01-17   -0.848890
2022-01-18   -1.489387
2022-01-19   -0.651240
2022-01-20    3.462722
2022-01-21    1.302285
2022-01-22    1.383644
2022-01-23   -1.261110
2022-01-24    2.003458
2022-01-25    0.378013
2022-01-26    1.272295
2022-01-27    0.452980
2022-01-28    0.481286
2022-01-29   -0.792777
Freq: D, Name: B, dtype: float64

# Row wise Selection

In [26]:
df[2:4]

                   A         B         C         D
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147

In [27]:
df.loc[dates[15]]

A    0.330628
B    0.378013
C    0.694112
D    0.171821
Name: 2022-01-25 00:00:00, dtype: float64

In [28]:
df.loc["20220114":"20220116",["A","B"]]

                   A         B
2022-01-14  1.224609  0.188002
2022-01-15  0.439811 -1.394487
2022-01-16 -1.004505 -0.058619

In [29]:
df.loc["20220116",["A","B","C"]]

A   -1.004505
B   -0.058619
C   -0.483021
Name: 2022-01-16 00:00:00, dtype: float64

In [30]:
df.at[dates[1],"A"]

0.0944941953616317

In [31]:
df.head()

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441

In [32]:
df.iloc[3]

A    0.810454
B    0.256832
C    0.640379
D   -0.478147
Name: 2022-01-13 00:00:00, dtype: float64

In [33]:
df.iloc[3:10]

                   A         B         C         D
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481

In [34]:
df

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481
2022-01-20 -1.709128  3.462722 -0.098398  1.613701
2022-01-21 -0.658487  1.302285  0.606975 -0.311575
2022-01-22 -0.572135  1.383644 -0.135267  0.290159
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386
2022-01-24  0.702030  2.003458 -0.347143  2.617915
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-26 -1.048705  1.272295  0.796285  0.153570
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061

In [35]:
df.iloc[0:5, : ]

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441

In [36]:
df.iloc[ : , 0:3 ]

                   A         B         C
2022-01-10 -1.478601 -0.015597 -0.734023
2022-01-11  0.094494 -2.483175  0.229546
2022-01-12 -0.503624 -0.846514  1.422648
2022-01-13  0.810454  0.256832  0.640379
2022-01-14  1.224609  0.188002  0.286104
2022-01-15  0.439811 -1.394487 -0.008139
2022-01-16 -1.004505 -0.058619 -0.483021
2022-01-17 -1.717034 -0.848890 -0.696435
2022-01-18  0.457047 -1.489387  0.773329
2022-01-19 -0.413798 -0.651240  0.687465
2022-01-20 -1.709128  3.462722 -0.098398
2022-01-21 -0.658487  1.302285  0.606975
2022-01-22 -0.572135  1.383644 -0.135267
2022-01-23 -0.035717 -1.261110  0.589278
2022-01-24  0.702030  2.003458 -0.347143
2022-01-25  0.330628  0.378013  0.694112
2022-01-26 -1.048705  1.272295  0.796285
2022-01-27  0.223321  0.452980  0.396860
2022-01-28  0.759200  0.481286 -1.318063
2022-01-29  0.922021 -0.792777 -0.963993

# Boolean Operator

In [37]:
df[df["A"]!=1]

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481
2022-01-20 -1.709128  3.462722 -0.098398  1.613701
2022-01-21 -0.658487  1.302285  0.606975 -0.311575
2022-01-22 -0.572135  1.383644 -0.135267  0.290159
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386
2022-01-24  0.702030  2.003458 -0.347143  2.617915
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-26 -1.048705  1.272295  0.796285  0.153570
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061

In [38]:
df[df>0]

                   A         B         C         D
2022-01-10       NaN       NaN       NaN  2.099658
2022-01-11  0.094494       NaN  0.229546  0.225411
2022-01-12       NaN       NaN  1.422648       NaN
2022-01-13  0.810454  0.256832  0.640379       NaN
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811       NaN       NaN  0.825048
2022-01-16       NaN       NaN       NaN       NaN
2022-01-17       NaN       NaN       NaN       NaN
2022-01-18  0.457047       NaN  0.773329       NaN
2022-01-19       NaN       NaN  0.687465       NaN
2022-01-20       NaN  3.462722       NaN  1.613701
2022-01-21       NaN  1.302285  0.606975       NaN
2022-01-22       NaN  1.383644       NaN  0.290159
2022-01-23       NaN       NaN  0.589278       NaN
2022-01-24  0.702030  2.003458       NaN  2.617915
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-26       NaN  1.272295  0.796285  0.153570
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-28  0.759200  0.481286       NaN       NaN
2022-01-29  0.922021       NaN       NaN       NaN

In [39]:
df2=df.copy()
df2

                   A         B         C         D
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658
2022-01-11  0.094494 -2.483175  0.229546  0.225411
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644
2022-01-13  0.810454  0.256832  0.640379 -0.478147
2022-01-14  1.224609  0.188002  0.286104  0.197441
2022-01-15  0.439811 -1.394487 -0.008139  0.825048
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879
2022-01-18  0.457047 -1.489387  0.773329 -0.666438
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481
2022-01-20 -1.709128  3.462722 -0.098398  1.613701
2022-01-21 -0.658487  1.302285  0.606975 -0.311575
2022-01-22 -0.572135  1.383644 -0.135267  0.290159
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386
2022-01-24  0.702030  2.003458 -0.347143  2.617915
2022-01-25  0.330628  0.378013  0.694112  0.171821
2022-01-26 -1.048705  1.272295  0.796285  0.153570
2022-01-27  0.223321  0.452980  0.396860  1.027080
2022-01-28  0.759200  0.481286 -1.318063 -1.769103
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061

In [40]:
df2["E"]=["10","44","SUN","MON","Tue","10","44","SUN","MON","Tue","10","44","SUN","MON","Tue","10","44","SUN","MON","Tue"]
df2

                   A         B         C         D    E
2022-01-10 -1.478601 -0.015597 -0.734023  2.099658   10
2022-01-11  0.094494 -2.483175  0.229546  0.225411   44
2022-01-12 -0.503624 -0.846514  1.422648 -0.234644  SUN
2022-01-13  0.810454  0.256832  0.640379 -0.478147  MON
2022-01-14  1.224609  0.188002  0.286104  0.197441  Tue
2022-01-15  0.439811 -1.394487 -0.008139  0.825048   10
2022-01-16 -1.004505 -0.058619 -0.483021 -0.786754   44
2022-01-17 -1.717034 -0.848890 -0.696435 -0.481879  SUN
2022-01-18  0.457047 -1.489387  0.773329 -0.666438  MON
2022-01-19 -0.413798 -0.651240  0.687465 -0.628481  Tue
2022-01-20 -1.709128  3.462722 -0.098398  1.613701   10
2022-01-21 -0.658487  1.302285  0.606975 -0.311575   44
2022-01-22 -0.572135  1.383644 -0.135267  0.290159  SUN
2022-01-23 -0.035717 -1.261110  0.589278 -0.798386  MON
2022-01-24  0.702030  2.003458 -0.347143  2.617915  Tue
2022-01-25  0.330628  0.378013  0.694112  0.171821   10
2022-01-26 -1.048705  1.272295  0.796285  0.153570   44
2022-01-27  0.223321  0.452980  0.396860  1.027080  SUN
2022-01-28  0.759200  0.481286 -1.318063 -1.769103  MON
2022-01-29  0.922021 -0.792777 -0.963993 -0.700061  Tue